/*-- scss:defaults --*/

$theme-black: #4c4c4c;
$theme-white: white;
$theme-grey: #e9ecef;
$theme-offwhite: #EBE8E3;

$theme-darkcoffee1: #570e06;
$theme-darkcoffee2: #78504b;
$theme-darkcoffee3: #632e0d;
$theme-milkcoffee0: #f2ece3;
$theme-milkcoffee3: #cca79f;
$theme-milkcoffee2: #b98f68;
$theme-milkcoffee1: #9e736a;
$theme-mocha1: #7f2606;
$theme-mocha2: #9a4c28;
$theme-mocha3: #b46939;
$theme-orange: #f9af11;
$theme-pumpkin1: #d05808;
$theme-pumpkin2: #f98f45;
$theme-darkgreen1: #355E3B;
$theme-darkgreen2: #445740;



$theme-teal1: #16594a;
$theme-teal2: #12908e;
$theme-teal4: #249ea0;
$theme-teal3: #97cecc;


$body-bg: $theme-white;
$body-color: $theme-darkcoffee1; // text color
$headings-color: $theme-darkcoffee1; // applies to all 
$link-color: $theme-pumpkin2;

// code
$code-color: $theme-pumpkin1;
$code-bg: $theme-milkcoffee0;
$code-block-bg-alpha: -0.8;
//$code-block-border-left: TRUE;
//$code-block-border-left-style: solid;

$background-color: $theme-milkcoffee0;

// navigation
$navbar-bg: $theme-teal4;

// callout block
$callout-color-note: $theme-teal2;
$callout-color-tip: $theme-teal1;


// font


@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code_Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;
$font-ah: "Atkinson Hyperlegible", sans-serif;
$font-poppins: 'Poppins', sans-serif; 
$font-pt: 'PT Serif', sans-serif;
$font-cabin: 'Cabin', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-prompt: 'Prompt', sans-serif;

//$font-family-sans-serif: 'Yanone Kaffeesatz', Tahoma, sans-serif;
//$font-family-sans-serif: 'Signika Negative';

$font-size-root: 16px;

/*-- scss:rules --*/

body {
  font-family: $font-ah;
}

h1 {
  color: $theme-teal1;
  font-family: $font-prompt;
  font-size: 40px;
  //padding: 0.2em;
}

h2 {
  color: $theme-teal1;
  font-family: $font-montserrat;
  font-size: 30px;
  //padding: 0.3em;
}

h3, h4 {
  color: $theme-teal1;
  font-family: $font-montserrat;
  //padding: 0.3em;
}


h4 {
  color: $theme-darkgreen1;
}

// Target the navigation bar elements directly
.navbar {
  font-family: $font-prompt;
}

// Applies padding to the block-level code element
pre.sourceCode {
  padding: 1rem; // Adjust the value as needed
  //background-color: #3C2F2F; // Your dark coffee color
}

.render-commit-push {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #5B888C;
  border-bottom: 1px solid #5B888C;
  background-size: 2em;
  background-position: 0.5em 0.5em;
}

.pull {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #E0A890;
  border-bottom: 1px solid #E0A890;
  background-size: 1em;
  background-position: 1em 0.5em;
}